[submodule "Carthage/Checkouts/Moya"]
	path = Carthage/Checkouts/Moya
	url = https://github.com/Moya/Moya.git
	ignore = dirty
[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
	ignore = dirty
[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
	ignore = dirty
[submodule "Carthage/Checkouts/Mantle"]
	path = Carthage/Checkouts/Mantle
	url = https://github.com/Mantle/Mantle.git
	ignore = dirty
[submodule "Carthage/Checkouts/ReactiveCocoa"]
	path = Carthage/Checkouts/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
	ignore = dirty
[submodule "Carthage/Checkouts/RxSwift"]
	path = Carthage/Checkouts/RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
	ignore = dirty
[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = https://github.com/Quick/Nimble.git
	ignore = dirty
[submodule "Carthage/Checkouts/Quick"]
	path = Carthage/Checkouts/Quick
	url = https://github.com/Quick/Quick.git
	ignore = dirty
